name: CI - Build and Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install with pip
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install .

    - name: Run Tests with Pytest
      run: |
        pytest .
