name: HeatCluster Docker Build

on: 
  workflow_dispatch:
    inputs:
      version:
        description: "Version tag for Docker image"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Quay Login
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          # Pass the version to the Dockerfile to update the internal label
          build-args: HEATCLUSTER_VER=${{ inputs.version }}
          push: true
          # Tags both the specific version AND 'latest' in one go
          tags: |
            quay.io/stevebs22/heatcluster:${{ inputs.version }}
            quay.io/stevebs22/heatcluster:latest
            